<%- include ("header") -%> 

<div class="box">
    <h2 class="item">This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Aliquam quasi dignissimos repudiandae accusantium, est natus earum, cum animi lauda
    ntium ex nobis odio doloribus voluptatibus consequuntur quaerat repellat, pariatur maiores 
    dolore.
</p>

</div>

<%- include("footer")  -%> 